html, body {
  margin: 1000;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #3b7748;
}

body {
  width: 70%;
  margin: 0 auto;
}


h1, h2, h3 {
  font-family: 'Pacifico', cursive;
  color: #2a2a2a;
}
h1, h2, h3, h4 {
  color: whitesmoke;
  text-shadow: 2px 2px 10px black;
}

p, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 6rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 3rem;
  text-align: center;
}

h4 {
  font-size: large;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}


nav, article, aside, footer {
  padding: 1%;
}

nav {
  height: 50px;
  background-color: #12fa4c;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: initial;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

main {
  display: flex;
}

article {
  background-color: #01dd5d;
  flex: 4;
font-style: inherit;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #0ff166;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 30px;
  background-color: #01dd5d;
}
body {
  background-color: #049440;
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;;
  border: 2px solid black;
 align-items: center;
}
h4{
  font-size: large;
}
